@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root variables */
:root{
    /* Color */
    --midnightNavy:#0B0D17;
    --white:#ffff;
    --mistyLilac:#D0D6F9;
    --darkGrey: #979797; 

    /* Text Size */
    --heading1: 9.375rem;
    --heading2: 6.25rem;
    --heading3: 3.5rem;
    --heading4: 2.0rem;
    --heading5: 1.75rem;
    --heading6: 1rem;

    /* Font Family */
    --mainFont: "Bellefair", serif;
    --secondFont: "Barlow Condensed", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background images */

.background-home-mobile{
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background-destination-mobile{
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background-crew-mobile{
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background-technology-mobile{
    background-image: url(../assets/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    height: 100vh;
}


/* Nav */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
nav ul{
    display: flex;
}

nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white);
   
}
.header nav ul li {
    list-style: none;
    position: relative;
    font-family: var(--secondFont);
    margin-right: 0.8rem;
    padding-bottom: 0.125rem;
    overflow: hidden; /* Hide overflow to prevent line from overflowing */
}

.header nav ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%; 
    width: 100%;
    height: 1px;
    background-color: var(--white);
    transition: left 0.3s ease; 
}

.header nav ul li:hover::before {
    left: 0;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 18.75rem;
    z-index: 100;
    backdrop-filter: blur(20px);
    box-shadow: #D0D6F9;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 10rem 0 0 2rem;
}

.sidebar li{
    width: 100%;
}


/* Main section for mobile menu */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

h1{
    color: var(--white);
    font-size: var(--heading6);
    font-family: var(--secondFont);
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    letter-spacing: 0.85ch;
}

.pick-destination span{
    color: var(--darkGrey);
}

.space{
    color: var(--white);
    font-size: 5.8rem;
    font-family: var(--mainFont);
    text-transform: uppercase;
    padding-right: 0.5rem;
}

.paragraph{
    color: var(--mistyLilac);
    text-align: center;
    line-height: 1.5;
    width: 20.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}



/* Explore button */
.circle-container{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 11rem;
    height: 11rem;
    background-color: var(--white);
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
    margin-top: 4.5rem;
}

/* Explore button hover effect */
.circle-container::before {
    content: '';
    position: absolute;
    top: -2rem;
    left: -2rem;
    right: -2rem;
    bottom: -2rem;
    border: 2rem solid transparent;
    border-radius: 50%;
    transition: border-color 0.7s ease;
}

.circle-container:hover::before {
    border-color: var(--darkGrey);
}  

/* Explore text */
main div span{
    color: var(--midnightNavy);
    font-family: var(--mainFont);
    font-size: 25px;
}


/* Media query for Mobile*/
@media(max-width: 600px) {
    .hideOnMobile{
        display: none;
    }

}




























    
/* Mobile Destination */

/* Resize planet images */
.planet-image{
    height: 15rem;
    width: 15rem;
    margin: 2rem 0 2rem 0;
}

/* styling the links in the page */
main ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.9rem;
    margin-bottom: 1.5rem;
}


main a{
    list-style: none;
    text-decoration: none;
    color: var(--white);
    font-family: var(--secondFont);
    font-size: 1.4rem;
}

.moon{
    color: var(--white);
    font-family: var(--mainFont);
    font-size: var(--heading3);
    text-transform: uppercase;
    padding: 1rem 0 1rem 0;
}

.destination-paragraph{
    color: var(--mistyLilac);
    text-align: center;
    line-height: 1.5;
    width: 20.5rem;
    margin-bottom: 3rem;
}

/* Creating an horizontal line  */

.horizontal-line{
    height: 1px;
    width: 90%;
    border: 1px solid var(--darkGrey);
    margin-bottom: 1.5rem;
}

/* Targeting distance and eta paragraphs */
.distance-eta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
.distance{
    font-family: var(--secondFont);
    font-size: var(--heading6);
    color: var(--mistyLilac);
    margin-bottom: 1rem;
}

.eta{
    color: var(--white);
    font-family: var(--mainFont);
    font-size: var(--heading5);
    margin-bottom: 1.5rem;
}

/* Active state for destination links */
/* a {
    text-decoration: none;
    color: blue;
    padding: 10px;
}

a:active {
    background-color: yellow;
} */

/* Crew image*/
.crew-image{
    height: 15rem;
    width: 15rem;
    margin: 2rem 0 0 0;
}

.crew-horizontal-line{
    height: 1px;
    width: 90%;
    border: 1px solid var(--darkGrey);
    margin-bottom: 2rem;
}

/* carousel nav */
.carousel-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.9rem;
}

/* carousel indicator */
.carousel-indicator{
    border: 0;
    border-radius: 50%;
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--darkGrey);
    margin: 0 0.6rem;
}
 
.role{
    font-family: var(--mainFont);
    font-size: 1.3rem;
    color: var(--darkGrey);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.crew-member{
    font-family: var(--mainFont);
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 1rem;
}

.crew-paragraph{
    text-align: center;
    color: var(--mistyLilac);
    font-size: 1.1rem;
    line-height: 1.5;
    width: 21.5rem;
    margin-bottom: 3rem;
}

/* Technology */
.technology-image{
    width: 100%;
    margin: 2rem 0 0 0;
    margin-bottom: 2rem;
}

.technology-paragraph{
    text-align: center;
    color: var(--mistyLilac);
    font-size: 1.1rem;
    line-height: 1.5;
    width: 22.5rem;
    margin-bottom: 3rem;
}

.tech-carousel-indicator{
    border: 1px solid var(--darkGrey);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    margin: 0 0.6rem;
} 



/* Media query for Tablet */
@media(min-width: 601px) and (max-width: 900px) {
    /* Home page */
    .hideOnTablet {  
        display: none;
    }
    .background-home-tablet {
        background-image: url(../assets/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header {
        padding: 0 0 0 1.5rem;
        margin-bottom: 4.5rem;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.5rem;
        backdrop-filter: blur(10px); 
        background-color: rgba(255, 255, 255, 0.06);
        padding-left: 40px;
    }
    .space {
        font-size: var(--heading1);
        margin-top: 2rem;
    }
    .circle-container {
        width: 15rem;
        height: 15rem;
        margin-top: 6.5rem;
    }
    .background-destination-tablet {
        background-image: url(../assets/destination/background-destination-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main > h1 {
        margin-top: 5rem;
    }
    .moon{
        font-size: 4.7rem;
    }
    .paragraph {
        color: var(--mistyLilac);
        text-align: center;
        line-height: 1.8;
        width: 23.5rem;
        margin-bottom: 2rem;
    }  
    .destination-paragraph{
        width: 30rem;
    } 
    .distance-eta-container{
        flex-direction: row;
        gap: 5rem;
    }   
    .horizontal-line{
        margin-bottom: 3rem;
    } 
    .distance{
        letter-spacing: 0.45ch;
    }  
    .crew-horizontal-line{
        display: none;
    }
    .carousel-nav{
        position: fixed;
        bottom: calc(8rem + 35rem); 
        left: 50%;
        transform: translateX(-50%);
    }
    .crew-image{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 40rem; 
        width: 40rem;
    }     
    .pick-destination{
        font-size: 1.25rem;
    }
    .role{
        margin-top: 0.8rem;
        font-size: 1.5rem;
    }
    .crew-member{
        font-size: 2.5rem;
    }
    .crew-paragraph{
        width: 30rem;
    }
    .background-technology-tablet{
        background-image: url(../assets/technology/background-technology-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* Technology screen */
    .technology-carousel-nav{
        margin: 2rem 0 2rem 0;
    }
    .technology-paragraph{
        width: 28rem;
    }

}

/* Media query for Desktop */
@media only screen and (min-width: 901px) { 
    .hideOnTablet{  
        display: none;
    }
    .background-home-desktop{
        background-image: url(../assets/home/background-home-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header {
        padding: 0 0 0 1.5rem;
        margin-top: 3rem;
        margin-bottom: 4.5rem;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.5rem;
        backdrop-filter: blur(10px); 
        background-color: rgba(255, 255, 255, 0.06);
        padding-left: 5.5rem;
        padding-right: 7.5rem;
        font-size: 1.1rem;
        position: relative; 
    }
    nav ul {
        gap: 4rem;
    }
    .desktop-horizontal-line {
        width: 42%; 
        left: 10%;
        border: 1px solid  var(--darkGrey);
        z-index: 1000; 
        position: absolute;
    }

    
}
